.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 735px) {
    .profile {
        flex-direction: column;
        justify-content: flex-start;
    }
}