.popup__input-error {
    display: block;
    font-size: 12px;
    color: red;
    margin-left: 2.25rem;
    width: 358px;
    margin-bottom: 13px;
    margin-top: 5px;
    min-height: 12px;
}

@media screen and (max-width: 1176px) {
    .popup__input-error {
        margin-left: 36px;
        width: 238px;
    }
}