.header {
    margin-top: 45px;
    border-bottom: 1px solid #545454;
    padding-bottom: 2.5625rem;
}


@media screen and (max-width: 940px) {
    .header {
        padding-bottom: 1.975rem;
        margin: 1.75rem 1.6875rem 0;
    }
}