.popup__button-close {
    background-image: url(../../../images/Close\ Icon.png);
    background-color: #000;
    background-repeat: no-repeat;
    border: none;
    width: 40px;
    height: 40px;
    background-position: center;
    transform: translate(233px, -183px);
    position: absolute;
    border-radius: 10px;
}

.popup__button-close:hover {
    transition: opacity 0.3s;
    opacity: 0.6;
    cursor: pointer;
}

.popup__button-close:enabled {
    outline: none;
}