.popup__button-close {
    top: -38px;
    right: -38px;
    background-image: url(../../../images/CloseIcon.svg);
    background-repeat: no-repeat;
    border: none;
    width: 40px;
    height: 40px;
    background-position: center;
    padding: 15px;
    background-color: transparent;
    z-index: 5;
    position: absolute;
}

@media screen and (max-width: 940px) {
    .popup__button-close {
        background-image: url(../../../images/CloseIcon-mini.svg);
        width: 26px;
        height: 26px;
        top: -35px;
        right: -6px;
        margin: 0;
    }
}

.popup__button-close:hover {
    transition: opacity 0.3s;
    opacity: 0.6;
    cursor: pointer;
}

.popup__button-close:enabled {
    outline: none;
}