.popup__button-save {
    width: 358px;
    height: 50px;
    background-color: #000;
    border-radius: 2px;
    margin: 1.125rem 2.25rem 2.3125rem;
    color: #fff;
}

.popup__button-save:hover {
    transition: opacity 0.3s;
    opacity: 0.8;
    cursor: pointer;
}

.popup__button-save:enabled {
    outline: none;
}